In [1]:
#Load data from a csv
import csv
import os
import sys


def load_data(filename):
    data = []
    with open(filename , 'r') as f:
        reader = csv.reader(f)
        for row in reader:
            data.append(row)

    return data

def save_data(filename, data):
    with open(filename, 'w') as f:
        writer = csv.writer(f)
        for row in data:
            writer.writerow(row)

In [2]:
# filename = '../uni_054_Heide-Astrid_LMT_no-ref-ch_no-G,F,I-channels.csv'
# data = load_data(filename)

In [2]:
import pandas as pd

def build_data_from_csv(filename):
    df = pd.read_csv(filename)
    #Create input, labels pairs where input is all columns except the first and output is 0 for first and last 5000 rows and 1 for the rest
    X = df.iloc[:,1:]
    y = [0]*5000 + [1]*(df.shape[0]-10000) + [0]*5000

    return X, y

In [3]:
# build data for all files in dataset folder. Use first 8 files for training and last 2 for testing

X_train = pd.DataFrame()
y_train = []
count = 0
for file in os.listdir('../dataset/part 1(10 eps)-unfiltered,no ref ch, no G,F,I ch'):
    print(file)
    if file.endswith('.csv'):
        count += 1
        if count > 8:
            break
        X, y = build_data_from_csv('../dataset/part 1(10 eps)-unfiltered,no ref ch, no G,F,I ch/' + file)
        X_train = pd.concat([X_train, X])
        y_train += y

X_test = pd.DataFrame()
y_test = []
count = 0
for file in os.listdir('../dataset/part 1(10 eps)-unfiltered,no ref ch, no G,F,I ch'):
    if file.endswith('.csv'):
        count += 1
        if count <= 8:
            continue
        X, y = build_data_from_csv('../dataset/part 1(10 eps)-unfiltered,no ref ch, no G,F,I ch/' + file)
        X_test = pd.concat([X_test, X])
        y_test += y

uni_167_Tomic-Stoja_RMT_no-ref-ch.csv
uni_081_Schlick-Reinhard_LMT_no-ref-ch_no-G,F,I-channels.csv
uni_113_Ahmed-Nasteha-Mohamud_RMT_no-ref-ch.csv
uni_112_Ahmed-Nasteha-Mohamud_LMT_no-ref-ch.csv
uni_080_Schlick-Reinhard_LMT_no-ref-ch_no-G,F,I-channels.csv
uni_054_Heide-Astrid_LMT_no-ref-ch_no-G,F,I-channels.csv
uni_117_Senzek-Heiko_RMT_no-ref-ch_no-G,F,I-channels.csv
uni_125_Erbst-Doris_LMT_no-ref-ch_no-G,F,I-channels.csv
uni_111_Ahmed-Nasteha-Mohamud_LMT_no-ref-ch.csv

In [4]:
X_train.head()

,b'SEEG TBAL1',b'SEEG TBAL2',b'SEEG TBAL3',b'SEEG TBAL4',b'SEEG TBAR3',b'SEEG TBAR4',b'SEEG TBPL1',b'SEEG TBPL2',b'SEEG TBPL3',b'SEEG TBPL4',...,b'SEEG TLL11',b'SEEG TLL12',b'SEEG TLL13',b'SEEG TLL14',b'SEEG TLL15',b'SEEG TLL16',b'SEEG TBAR1',b'SEEG TBAR2',b'SEEG TLR05',b'SEEG TLR06'
0,-92.369690,-88.113411,-68.608095,-64.054237,-13.092131,-31.088388,-58.814066,-58.496943,-21.563004,-26.092487,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-98.195076,-86.443488,-70.990143,-62.407680,-21.368149,-31.910432,-50.320441,-59.684435,-26.490302,-31.246627,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-96.641440,-81.207916,-67.989730,-62.135151,-27.013418,-31.485696,-49.968384,-58.924640,-32.557869,-38.779397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-85.768173,-75.890793,-60.290933,-59.504860,-27.616827,-28.887212,-52.275783,-54.630010,-34.389742,-41.137676,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-72.697167,-72.385605,-52.109429,-54.423755,-23.687773,-25.364765,-51.357450,-47.397094,-31.116187,-35.429934,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Print all columns
for col in X_train.columns:
    print(col)

b'SEEG TBAL1'
b'SEEG TBAL2'
b'SEEG TBAL3'
b'SEEG TBAL4'
b'SEEG TBAR3'
b'SEEG TBAR4'
b'SEEG TBPL1'
b'SEEG TBPL2'
b'SEEG TBPL3'
b'SEEG TBPL4'
b'SEEG TBPR1'
b'SEEG TBPR2'
b'SEEG TBPR3'
b'SEEG TBPR4'
b'SEEG TL01'
b'SEEG TL02'
b'SEEG TL03'
b'SEEG TL04'
b'SEEG TL05'
b'SEEG TL06'
b'SEEG TL07'
b'SEEG TL08'
b'SEEG TL09'
b'SEEG TL10'
b'SEEG TLL01'
b'SEEG TLL02'
b'SEEG TLL03'
b'SEEG TLL04'
b'SEEG TLR01'
b'SEEG TLR02'
b'SEEG TLR03'
b'SEEG TLR04'
b'SEEG TR01'
b'SEEG TR02'
b'SEEG TR03'
b'SEEG TR04'
b'SEEG TR05'
b'SEEG TR06'
b'SEEG TR07'
b'SEEG TR08'
b'SEEG TR09'
b'SEEG TR10'
b'SEEG TLL05'
b'SEEG TLL06'
b'SEEG TLL07'
b'SEEG TLL08'
b'SEEG TLL09'
b'SEEG TLL10'
b'SEEG TLL11'
b'SEEG TLL12'
b'SEEG TLL13'
b'SEEG TLL14'
b'SEEG TLL15'
b'SEEG TLL16'
b'SEEG TBAR1'
b'SEEG TBAR2'
b'SEEG TLR05'
b'SEEG TLR06'

In [7]:
#Fill all NaN with 0
X_train = X_train.fillna(0)
X_test = X_test.fillna(0)

In [8]:
X_train.head()

,b'SEEG TBAL1',b'SEEG TBAL2',b'SEEG TBAL3',b'SEEG TBAL4',b'SEEG TBAR3',b'SEEG TBAR4',b'SEEG TBPL1',b'SEEG TBPL2',b'SEEG TBPL3',b'SEEG TBPL4',...,b'SEEG TLL11',b'SEEG TLL12',b'SEEG TLL13',b'SEEG TLL14',b'SEEG TLL15',b'SEEG TLL16',b'SEEG TBAR1',b'SEEG TBAR2',b'SEEG TLR05',b'SEEG TLR06'
0,-92.369690,-88.113411,-68.608095,-64.054237,-13.092131,-31.088388,-58.814066,-58.496943,-21.563004,-26.092487,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-98.195076,-86.443488,-70.990143,-62.407680,-21.368149,-31.910432,-50.320441,-59.684435,-26.490302,-31.246627,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-96.641440,-81.207916,-67.989730,-62.135151,-27.013418,-31.485696,-49.968384,-58.924640,-32.557869,-38.779397,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-85.768173,-75.890793,-60.290933,-59.504860,-27.616827,-28.887212,-52.275783,-54.630010,-34.389742,-41.137676,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-72.697167,-72.385605,-52.109429,-54.423755,-23.687773,-25.364765,-51.357450,-47.397094,-31.116187,-35.429934,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
from sklearnex import patch_sklearn
patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [5]:
# Make all columns in X_train and X_test equal by adding columns that are absent in one of them with all values 0
for col in X_train.columns:
    if col not in X_test.columns:
        X_test[col] = 0

for col in X_test.columns:
    if col not in X_train.columns:
        X_train[col] = 0

In [7]:
len(X_train.columns)

58

In [11]:
# Drop those columns from X_test that are not in X_train
X_test = X_test[X_train.columns]

In [12]:


# Train a svm model
from sklearn.svm import SVC
model = SVC()
model.fit(X_train, y_train)

# Evaluate the model
model.score(X_test, y_test)

# Print accuracy, precision, recall, f1-score and confusion matrix
from sklearn.metrics import classification_report, confusion_matrix

y_pred = model.predict(X_test)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

In [ ]:
# Try a different model
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)

model.score(X_test, y_test)

y_pred = model.predict(X_test)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      0.81      0.88      2017
           1       0.95      0.99      0.97      7731

    accuracy                           0.96      9748
   macro avg       0.96      0.90      0.93      9748
weighted avg       0.96      0.96      0.95      9748

[[1627  390]
 [  39 7692]]

In [ ]:
# Try a better model
from sklearn.ensemble import GradientBoostingClassifier

model = GradientBoostingClassifier()
model.fit(X_train, y_train)

model.score(X_test, y_test)

y_pred = model.predict(X_test)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.21      0.33      2017
           1       0.83      0.99      0.90      7731

    accuracy                           0.83      9748
   macro avg       0.83      0.60      0.62      9748
weighted avg       0.83      0.83      0.78      9748

[[ 421 1596]
 [  81 7650]]

In [ ]:
# Try KNN
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier()
model.fit(X_train, y_train)